<div class="modal fade" id="singup-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Sing Up</h4>
      </div>
      <div class="modal-body">
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" class="form-control" placeholder="Enter Username" required autofocus/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" placeholder="Password" required />
            </div>            
                <input type="submit" class="btn btn-primary pull-right"  value="Sign up" data-dismiss="modal"/>                                    
        </form>
      </div>
      <div class="modal-footer">
        <!--
          <button type="button" class="btn btn-default" data-dismiss="modal">Clear</button>
        -->        
        
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
