<!-- alert.js plugin // Add dismiss functionality to all alert messages with this plugin.-->
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>


