<!--scrollspy.js plugin // The ScrollSpy plugin is for automatically updating nav targets based on scroll position. 
    Scroll the area below the navbar and watch the active class change. The dropdown sub items will be highlighted as well.
    Scrollspy currently requires the use of a Bootstrap nav component for proper highlighting of active links.
    -->
<body data-spy="scroll" data-target="#navbar-example">
  ...
  <div id="navbar-example">
    <ul class="nav nav-tabs" role="tablist">
      ...
    </ul>
  </div>
  ...
</body>


