<!-- dropdown component // Wrap the dropdown's trigger and the dropdown menu within .dropdown-->
<li class="dropdown" role="presentation">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu" role="button" aria-haspopup="true" aria-expanded="false">
    Dropdown <span class="caret"></span>
  </a>
  <ul class="dropdown-menu " aria-labelledby="dropdownMenu">
    <li>
      <a href="#">Action</a>
    </li>
    <li class="disabled">
      <a href="#">Another action</a>
    </li>
    <li>
      <a href="#">Something else here</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="#">Separated link</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="#">One more separated link</a>
    </li>
  </ul>
</li>
  


