<!-- nav pills component //-->
<div class="packt">
  <ul class="nav nav-pills">
    <!-- Add the .nav-stacked class to the .nav-pills class, the pills are vertically stacked-->
    <li role="presentation" class="active">
      <a href="#">
        <span class="glyphicon glyphicon-sd-video"> </span> Videos
      </a>
    </li>
    <li role="presentation" >
      <a href="#">
        <span class="glyphicon glyphicon-book"></span> Books
      </a>
    </li>
    <li role="presentation" >
      <a href="#">
        <span class="glyphicon glyphicon-inbox"></span> Inbox
      </a>
    </li>
  </ul>
</div>
<!-- /.nav-tab --> 


